.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.background {
    padding-bottom: 100px;
    position: relative;
    background-image: url('../../images/pexels-pixmike-413195.jpg');
    background-size: 100%;
    height: max-content;
    width: 100%;
}

.divpages2 {
    margin-bottom: 20px;
}

.divfilters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.divfilters select {
    background-color: aliceblue;
    color: rgb(6, 176, 165);
    font-weight: bold;
    border: solid 2px rgb(6, 176, 165);
    border-radius: 5px;
    margin: 10px;
    box-shadow: 2px 2px rgb(6, 176, 165);
}

@media (min-width: 1400px) {
    .divfilters select {
        width: 8.3rem;
        height: 1.6rem;
    }

    #fTemps {
        width: 11.5rem;
        height: 1.6rem;
    }

    .divfilters option {
        font-weight: bold;
    }
}

.divfilters select:hover {
    background-color: rgb(6, 176, 165);
    color: aliceblue;
    border: solid 2px aliceblue;
    box-shadow: 2px 2px aliceblue;
}

.divfilters select:focus {
    background-color: rgb(6, 176, 165);
    color: aliceblue;
}

.divfilters option:focus {
    background-color: black;
}

.divsearchandfilters {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    border-radius: 12px;
    border: solid 2px aliceblue;
    height: 75px;
    width: max-content;
    box-shadow: 2px 2px aliceblue;
}

.link {
    color: rgb(6, 176, 165);
    text-decoration: none;
}

.divnotfound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 61vh;
    width: 100%;
}

.notfound {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
    border-radius: 12px;
    height: 80px;
    width: 42%;
}

.notfound h2 {
    color: white;
    margin-left: 10px;
}