.card {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    height: auto;
    width: 360px;
    border: solid black 2px;
    border-radius: 17px;
}

.card p {
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 10px;
}

.card span {
    font-weight: 350;
}

.imagecard {
    width: 360px;
    height: 240px;
    border-radius: 15px;
    border-bottom: solid black 2px;
}

.name {
    text-decoration: none;
    color: black;
    text-align: center;
}