.divform {
    margin: 20px auto;
    height: min-content;
    width: max-content;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 1px black;
    border-radius: 12px;
}

.divform span {
    margin-right: 10px;
}

.asterisk {
    color: red;
    font-weight: 500;
    display: inline;
}

.asteriskspan {
    padding-left: -10px;
}

.divform legend {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 4px;
}

.labelleft {
    margin-left: 10px;
}

.input{
    margin: 5px;
    width: 40px;
    border: solid 1px black;
    border-radius: 5px;
}

p.danger {
    color: red;
    font-size: 13px;
}

input.danger {
    border: solid 2px red;
    border-radius: 4px;
}

.inputname {
    margin: 5px;
    border: solid 1px black;
    border-radius: 4px;
}

.inputimage {
    width: 95vh;
    margin: 5px;
    border: solid 1px black;
    border-radius: 4px;
}

.divinput {
    border: solid 1px black;
    border-radius: 7px;
    background-color: rgba(192, 192, 192, 0.4);
    width: max-content;
    margin: 0px auto;
    margin-bottom: 8px;
}

.divtop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form {
    margin: 10px;
    text-align: center;
}

.tempsdiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 125vh;
    background-color: rgba(192, 192, 192, 0.4);
    border: solid 1px black;
    border-radius: 12px;
    margin-bottom: 10px;
}

.tempsdiv label {
    margin-right: 7px;
}

.resultdiv{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -250px;
    height: 350px;
    width: 500px;
    border: solid 1px white;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: white;
}

.resultdiv img {
    height: 50%;
    width: 40%;
    margin-bottom: 20px;
}