.backgroundform {
    padding-bottom: 100px;
    position: relative;
    background-image: url('../../images/pexels-pixmike-413195.jpg');
    background-size: 100%;
    height: auto;
    width: 100%;
}

.divform {
    margin: 20px auto;
    margin-bottom: 30px;
    height: min-content;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 2px black;
    border-radius: 12px;
    box-shadow: 2px 2px black;
}

@media (min-width: 1400px) {
    .divform {
        width: 50%;
    }
}

.divform span {
    margin-right: 10px;
}

.asterisk {
    color: red;
    font-weight: 500;
    display: inline;
}

.asteriskspan {
    padding-left: -10px;
}

.divform legend {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 4px;
}

.labelleft {
    margin-left: 10px;
}

.input{
    margin: 5px;
    width: 7vh;
    border: solid 1px black;
    border-radius: 5px;
}

p.danger {
    color: red;
    font-size: 13px;
}

input.danger {
    border: solid 2px red;
    border-radius: 4px;
}

.inputname {
    margin: 5px;
    border: solid 1px black;
    border-radius: 4px;
}

.divinputimage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 2px black;
    border-radius: 7px;
    background-color: rgba(192, 192, 192, 0.4);
    width: 70%;
    margin: 0px auto;
    margin-bottom: 8px;
}

.inputimage {
    width: 87%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid 1px black;
    border-radius: 4px;
}

.divinput {
    border: solid 2px black;
    border-radius: 7px;
    background-color: rgba(192, 192, 192, 0.4);
    width: max-content;
    margin: 0px auto;
    margin-bottom: 8px;
}

.divtop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form {
    margin: 10px;
    text-align: center;
}

.tempsdiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    background-color: rgba(192, 192, 192, 0.4);
    border: solid 2px black;
    border-radius: 12px;
    margin-bottom: 10px;
}

.tempsdiv input:hover {
    border: solid 2px rgb(6, 176, 165);
}

.tempsdiv label {
    margin-right: 7px;
}

.resultdiv{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -5%);
    height: 350px;
    width: 500px;
    border: solid 2px white;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: white;
}

.resultdiv img {
    height: 50%;
    width: 40%;
    margin-bottom: 20px;
}

.submit {
    background-color: aliceblue;
    color: rgb(6, 176, 165);
    font-weight: bold;
    border: solid 2px rgb(6, 176, 165);
    border-radius: 5px;
    box-shadow: 2px 2px rgb(6, 176, 165);
}

.submit:hover {
    background-color: rgb(6, 176, 165);
    color: aliceblue;
    border: solid 2px aliceblue;
    box-shadow: 2px 2px aliceblue;
}

.submit:disabled {
    background: #ccc;
    color: grey;
    border: solid 2px red;
    box-shadow: 2px 2px red;
}