.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  background-image: url('../../images/pexels-chevanon-photography-1108099.jpg');
  background-size: cover; 
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.text {
  font-size: xx-large;
  color: white;
  text-decoration: none;
}
