.divloader {
  height: 80vh;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}
  
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  height: 70px;
  width: 70px;
  border: 10px solid rgba(255, 255, 255, 0.0);
  border-top-color: black;
  border-bottom-color: black;
  border-radius: 100%;
  animation: loading 1.5s infinite linear;
}