.divdetail {
    position: relative;
    background-image: url('../../images/pexels-pixmike-413195.jpg');
    height: 100vh;
    background-size: 100%;
    padding-bottom: 100px;
}

.divtitulo {
    margin: 0px auto;
    margin-top: 20px;
    height: 45px;
    width: max-content;
    text-align: center;
    background-color: black;
    border: solid 2px aliceblue;
    border-radius: 12px;
    box-shadow: 2px 2px aliceblue;
}

#titulodetail {
    margin-top: 40px;
}

.titulodetail {
    color: rgb(6, 176, 165);
    margin: 0px auto;
    margin-left: 10px;
    margin-right: 10px;
}

.detailcontenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 2px black;
    border-radius: 17px;
    width: min-content;
    margin: 20px auto;
    text-align: center;
    box-shadow: 3px 3px black;
}

.imagedetail {
    border-bottom: solid 2px black;
    border-radius: 15px;
    height: 350px;
    width: 540px;
}

.detailcontenedor p {
    font-size: large;
    font-weight: bold;
    margin: 10px;
}

.detailcontenedor span {
    font-weight: 350;
}